### Exercise 6: Data Transformation - Replacing

### In this exercise, we will use the student dataset that we saw earlier. We will load the data into a pandas dataframe and simply replace all the categorical data with numbers.

### 1.	Import the required dataframe and load the dataset into the pandas dataframe.:

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/student.csv")
#pd.options.mode.chained_assignment = None  # default='warn'

### 2.	Find the categorical column and separate out with different dataframe. To do so, use select_dtypes() function from pandas dataframe

In [2]:
df_categorical = df.select_dtypes(exclude=np.number)
df_categorical.head()

   Gender      Grade Employed
0    Male  1st Class      yes
1  Female  2nd Class       no
2    Male  1st Class       no
3  Female  2nd Class       no
4    Male  1st Class       no

### 3.	Find the distinct unique values in a Grade column. To do so, use unique() function from pandas dataframe over the column name.

In [3]:
df_categorical['Grade'].unique()

array(['1st Class', '2nd Class', '3rd Class'], dtype=object)

### 4.	Find the frequency distribution of each categorical column. To do so, use value_counts() function on each column.

In [4]:
df_categorical.Grade.value_counts()

2nd Class    80
3rd Class    80
1st Class    72
Name: Grade, dtype: int64

In [5]:
df_categorical.Gender.value_counts()

Male      136
Female     96
Name: Gender, dtype: int64

In [6]:
df_categorical.Employed.value_counts()

no     133
yes     99
Name: Employed, dtype: int64

### 5.	Replace the number in the Grade column. ‘1st class’ with ‘1’, ‘2nd class’ with ‘2’ and ‘3rd class’ with ‘3’. To do so, use replace() function with the data frame column

In [7]:
#df_categorical["Grade"].replace({"1st Class":1, "2nd Class":2, "3rd Class":3}, inplace= True)
#df_categorical.loc[:,'Grade'].replace({"1st Class":1, "2nd Class":2, "3rd Class":3}, inplace= True)

df_categorical.Grade.replace({"1st Class":1, "2nd Class":2, "3rd Class":3}, inplace= True)

In [8]:
df_categorical.Gender.replace({"Male":0,"Female":1}, inplace= True)

In [9]:
df_categorical.Employed.replace({"yes":1,"no":0}, inplace = True)

In [10]:
df_categorical.head()

   Gender  Grade  Employed
0       0      1         1
1       1      2         0
2       0      1         0
3       1      2         0
4       0      1         0